:root {
    --sColor: #04BEFE;
}

.btn-wrap {
    position: relative;
    display: inline-block;
}

.btn-wrap:hover .circle-self {
    animation: stroke 2s forwards;
}

.circle-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-self {
    stroke: var(--sColor);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: var(--l);
    stroke-dashoffset: var(--l);
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}
